# Set the base index for windows to 1 instead of 0
# START:index
set -g base-index 1
# END:index

# Set the base index for panes to 1 instead of 0
# START:panes_index
setw -g pane-base-index 1
# END:panes_index

# moving between panes
# START:paneselect
bind h select-pane -L 
bind j select-pane -D 
bind k select-pane -U
bind l select-pane -R    
# END:paneselect

# Enable vi mode. Enter with <prefix> ].
# START:vi-mode
# setw -g mode-keys vi
set-window-option -g mode-keys vi

# Change vi mode to use 'v' and 'y' for yanking.
bind-key -t vi-copy 'v' begin-selection
bind-key -t vi-copy 'y' copy-selection
# END:vi-mode

# Set the default terminal mode to 256color mode
# START:termcolor
set -g default-terminal "screen-256color"
# END:termcolor

# Status line right side
# 15% | 28 Nov 18:15
# START: statusright
set -g status-right "#[fg=green]#(tmux-mem) #[fg=cyan]%d %b %R"
# END:statusright

# Update the status bar every sixty seconds
# START:updateinterval
set -g status-interval 60
# END:updateinterval
